/*========================*/
/*BASIC SETUP*/
/*========================*/

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body {
	background-color: #fff;
	color: #555;
	font-family: "Lato", "Arial", sans-serif;
	font-weight: 300; 
	font-size: 20px;
}

.clearfix {zoom: 1}
.clearfix:after {
	content: '.';
	clear: both;
	display: block;
	height: 0;
	visibility: hidden;
}

.container {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

.container2 {
	width: 50%;
	margin: 0 auto;
}
/*========================*/
/*REUSABLE ELEMENTS*/
/*========================*/
.row {
	max-width: 1140px;
	margin: 0 auto;
}

h1,
h2,
h3 {
	font-weight: 300;
	text-transform: uppercase;
}

h1 {
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 240%;
	word-spacing: 4px;
	letter-spacing: 1px;
}

h2 {
	color: #AD1D4E;
	font-size: 180%;
	word-spacing: 2px;
	text-align: center;
	margin-top: 80px;
	margin-bottom: 30px;
	letter-spacing: 1px;
}

h2:after {
	display: block;
	height: 2px;
	background-color: #AD1D4E;
	content:" ";
	width: 100px;
	margin: 0 auto;
	margin-top: 30px;
}


img {
	width: 100%;
}
/*========================*/
/*NAVIGATION*/
/*========================*/
.main-nav {
	//float: right;
	list-style: none;
	margin-top: 25px;
	position: fixed;
}

.main-nav li {
	float: left;
	//display: inline-block;
	margin-left: 20px;
	margin-right: 20px;
}

.main-nav li a:link,
.main-nav li a:visited {
	color: #AD1D4E;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 80%;
	border-bottom: 1px solid transparent;
	transition: border-bottom 1s;
}

.main-nav li a:hover,
.main-nav li a:active {
	border-bottom: 1px solid #AD1D4E;
	border-bottom: 1px solid #a28f14;
}	







/*========================*/
/*HEADER*/
/*========================*/
header {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(images/computer.jpg);
	background-size: cover;
	background-position: center;
	height: 100vh;
	background-attachment: fixed;
}

.hero-text-box {
	position: absolute;
	width: 1140px;
	top: 30%;
	left: 20%;
	color: #FAE92D;
}

/*========================*/
/*ABOUT ME*/
/*========================*/

// .long-copy {
// 	line-height: 145%;
// 	//width: 70%;
// 	margin-left: 15%;
// }
.about-me-section {
	background-color: #fdfaeb;
	padding-bottom: 20px;
}

.image-left {
	float: left;
	padding: 0 20px;
}

// .box p {
// 	font-size: 90%;
// 	line-height: 145%;
// }

// .about-me-box {
// 	display: flex;
// 	flex-direction: center;
// }

/*========================*/
/*SKILLS*/
/*========================*/


.skills-section {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.3)), url(images/chart.png);
	background-size: cover;
	background-position: center;
	height: 50vh;
	background-attachment: fixed;
}



/*========================*/
/*PROJECTS*/
/*========================*/

.project-section {
	padding: 0;
}


.project-section li {
	display: block;
	float: left;
	width: 25%;
}


/*========================*/
/*PROJECTS-SINGLE PAGE*/
/*========================*/

#css-html-project {
	width: 50%;

}


/*========================*/
/*FORM*/
/*========================*/

input {
	width: 100%;
	padding: 10px 10px;
	margin-top: 10px;
	margin-bottom: 10px;
}

textarea {
	padding: 10px 10px;
}
/*========================*/
/*CONTACT ME*/
/*========================*/

.contact-section {
	background-image: linear-gradient(rgba(0,0,0,0.7), rgba(0,0,0,0.7)), url(images/computer.jpg);
	height: 100vh;
	
}



/*========================*/
/*FOOTER*/
/*========================*/
footer {
	background-color: black;

}










